<link rel="stylesheet" href="//demo.productionready.io/main.css" />

<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1><%= @article.title %></h1>

      <div class="article-meta">
        <a href="/profile/eric-simons"><img src="http://i.imgur.com/Qr71crq.jpg" /></a>
        <div class="info">
          <a href="/profile/eric-simons" class="author">Eric Simons</a>
          <span class="date">January 20th</span>
        </div>
        <button class="btn btn-sm btn-outline-secondary">
          <i class="ion-plus-round"></i>
          &nbsp; Follow Eric Simons <span class="counter">(10)</span>
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-sm btn-outline-primary">
          <i class="ion-heart"></i>
          &nbsp; Favorite Post <span class="counter">(29)</span>
        </button>

  
          <%= link_to "編集", edit_article_path , class: "btn btn-sm btn-outline-secondary" %>   
          
          <%= link_to "削除", articles_destroy_path, class: "btn btn-sm btn-outline-secondary", data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }%>
      
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <p><%= @article.description %></P>
        <p><%= @article.content %><p>
        <ul class="tag-list">
          <li class="tag-default tag-pill tag-outline">realworld</li>
          <li class="tag-default tag-pill tag-outline">implementations</li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <div class="article-meta">
        <a href="profile.html"><img src="http://i.imgur.com/Qr71crq.jpg" /></a>
        <div class="info">
          <a href="" class="author">Tanimiya Simons</a>
          <span class="date">January 20th</span>
        </div>

        <button class="btn btn-sm btn-outline-secondary">
          <i class="ion-plus-round"></i>
          &nbsp; Follow Narita Simons
        </button>
        &nbsp;
        <button class="btn btn-sm btn-outline-primary">
          <i class="ion-heart"></i>
          &nbsp; Favorite Article <span class="counter">(29)</span>
        </button>
        <%= link_to "編集", edit_article_path , class: "btn btn-sm btn-outline-secondary" %>   
        <%= link_to "削除", articles_destroy_path, class: "btn btn-sm btn-outline-secondary", data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }%>
      </div>
    </div>
  </div>
</div>